<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="../static/CSS/login.css">
</head>
<body>
  <div class="container">
    <div class="login-form">
      <form id="login-form" action="/login" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-title">Login</div>
        <div class="form-input">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="form-input">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        
        <!-- CAPTCHA Section -->
        <div class="form-input captcha">
          <label for="captcha">Enter CAPTCHA</label>
          <div class="preview" id="captchaPreview"></div>
          <div class="captcha-form">
            <input type="text" id="captcha" name="captcha" placeholder="Enter CAPTCHA" required>
            <button type="button" class="captcha-refresh" onclick="generateCaptcha()">Refresh</button>
          </div>
        </div>
        
        <div class="form-input">
          <button type="submit" id="login-btn">Login</button>
        </div>
        <div class="form-links">
          <span>Don't have an account? <a href="signup" class="signup-link">Sign up</a></span><br>
          <span>Forgot your password? <a href="forgetpassword" class="forgot-password-link">Forgot password</a></span>
        </div>
      </form>
    </div>
    <div class="image-section">
      <img src="../static/Images/truck-8656658_1280.jpg" alt="Truck Image">
    </div>
  </div>

  <script src="/static/Javascript/login.js">  </script>
  <script>
    // Display alert if redirected with alert=true parameter
    document.addEventListener("DOMContentLoaded", function () {
      const urlParams = new URLSearchParams(window.location.search);
      const alertParam = urlParams.get('alert');
      
      if (alertParam === "true") {
        swal("Unauthorized Access", "You need to log in to access that page.", "warning");
      }
    });
  </script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
