<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="../static/CSS/users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="../static/Images/Exafluence.jpg" alt="logo" />
            <span style="color: white; padding-left: 25px; font-weight: bold;">Exafluence</span>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="/dashboard">
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="text"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/account">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="text"> My Account</span>
                </a>
            </li>
            <li>
                <a href="/myshipment">
                    <span class="icon"><i class="fas fa-box"></i></span>
                    <span class="text"> My Shipment</span>
                </a>
            </li>
            <li>
                <a href="/newshipment">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span class="text"> New Shipment</span>
                </a>
            </li>
            <li>
                <a href="/devicedata">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="text"> Device Data</span>
                </a>
            </li>
            <li>
                <a href="/users">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span class="text">Users</span>
                </a>
            </li>
            <li>
                <a href="/login" class="logout" onclick="logout(event)">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="text"> Logout</span>
                </a>
            </li>
        </ul>
    </aside>

    <div class="content">
        <h2>User Details</h2>

        <!-- Check if user details are available -->
        {% if user_details %}
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through user details and display -->
                {% for user in user_details %}
                <tr>
                    <td>{{ user.user }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No user details found.</p>
        {% endif %}
    </div>
    <script src="/static/Javascript/users.js"></script> 
</body>
</html>